{% extends "base.html" %}
        {% block content %}
            <form action="" method="post" novalidate>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' %}
                <div>
                    {{ field.label() }}
                    {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            </form>
            <meta charset="UTF-8">
            <h1><a href="http://127.0.0.1:8080/registration">Создать аккаунт</a></h1>
        {% endblock %}
